<div class="container experience-container">
  <h3>{{ site.experience_title | default: "Skils & Experience" }}</h3>
  Skills: 
  C# 7.0+, .Net Core, JS/Typescript
  MongoDB, MySQL/MSSQL, Redis
  GIT/TFS
  ASP Net, Razor, Web Api, ASP net core, Swagger
  HTML5, LESS
  Entity Framework, LINQ, TPL
  Angular 9+, ngrx, rxjs
  Azure functions, CosmosDb
  RabbitMQ, Azure ServiceBus
  xUnit, NUnit
  
  Experience:
  10.2018 - to present SOLVVE Senior .Net/JS(TS)
  10.2016 - 10.2018 INSPECTRON .Net/JS
  04.2016 - 10.2016 IIUA .Net
  10.2012 - 04.2016 Ciklum .Net Full stack  
</div>
