body {
  color: #24322e;
  font-family: Roboto, sans-serif;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: 1.1rem;
  line-height: 1.7;

  @media print {
    font-size: 0.95rem;
    line-height: 1.45;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  margin: 0 0 0.75rem;
}

p {
  margin: 0 0 0.75rem; }

a {
  color: #477dca;
  transition: color 150ms ease;
}
a:active,
a:focus,
a:hover {
color: #355e98;
}

h1 {
  color: #21332e;
  font-size: 3.2rem;
  margin-bottom: 0.25rem;
  font-weight: 600;
}

h2 {
  color: #397468;
  font-weight: 400;
  font-size: 1.5rem;
}

h3 {
  font-weight: 500;
  color: #28675c;
  font-size: 1.6rem;
  text-align: left;
  border-bottom: 1px solid #dfe6e0;
  padding-bottom: 9px;
  margin-bottom: 22px;

  @media print {
    margin-bottom: 20px;
  }
}

h4 {
  color: #24322e;
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom:3px;
}

p, ul {
  font-size: 1.1rem;
  text-align: left;
}

li {
  margin-bottom: 0.4rem;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 1.45rem;
  }
}

@media print {
  p, ul {
    font-size: 0.95rem;
  }

  li {
    margin-bottom: 0.15rem;
  }
}

a i {
  font-size:1.6rem;
}

mark {
  padding: 2px 4px;
  font-size: 90%;
  color: #fff;
  background-color: #333;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
}